@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>Hello world. Index</h1>
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>