<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
  <a class="navbar-brand" routerLink="/calendar">WebCalendar</a>
  <div class="collapse navbar-collapse ml-auto flex-grow-0" id="navbarSupportedContent">
    <ul class="navbar-nav text-right">
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown2" role="button">
          User
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
          <!--<a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>-->
          <a ngbDropdownItem routerLink="settings" ><i class="fas fa-sliders-h"></i> Settings</a>
          <a ngbDropdownItem ><i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
